

.logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 1200px;
    height: 444px;
}

form {
    width: 1200px;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    background-color: #dbd493;
}

body {
    background-color: #a5abc1;
}

h5 {
    color: red;
}

h3 {
    color: #98504f;
    display: inline-block;
}