

.logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 1200px;
    height: 444px;
}

form {
    width: 1200px;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    
}

h3 {
    color: #98504f;
    display: inline-block;
}